name: CI

on:
    push:

jobs:
    build:
        runs-on: windows-latest

        steps:
            - uses: actions/checkout@v2

            - name: Setup Node.js environment
              uses: actions/setup-node@v2.1.5
              with:
                  node-version: 12

            - name: Cache node_moduiles
              uses: actions/cache@v2.1.6
              with:
                  path: "**/node_modules"
                  key: ${{ runner.os }}-${{ hashFiles('**/yarn.lock') }}

            - name: Install Depedencies
              run: yarn

            - name: Build project
              run: yarn build

            - name: Publish project
              run: yarn electron:publish
              env:
                  GITHUB_TOKEN: ${{ secrets.publish_token }}
